/* Webfont: Overpass-Bold */@font-face {
  font-family: 'Overpass';
  src: url('/theme/fonts/Overpass-Bold.eot'); /* IE9 Compat Modes */
  src: url('/theme/fonts/Overpass-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/Overpass-Bold.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/Overpass-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/Overpass-Bold.svg#Overpass-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Light */@font-face {
  font-family: 'Overpass';
  src: url('/theme/fonts/Overpass-Light.eot'); /* IE9 Compat Modes */
  src: url('/theme/fonts/Overpass-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/Overpass-Light.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/Overpass-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/Overpass-Light.svg#Overpass-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */@font-face {
  font-family: 'Overpass';
  src: url('/theme/fonts/Overpass-Light-Italic.eot'); /* IE9 Compat Modes */
  src: url('/theme/fonts/Overpass-Light-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/Overpass-Light-Italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/Overpass-Light-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/Overpass-Light-Italic.svg#Overpass-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

$brand-primary: #AA0001;

$font-family-sans-serif: "Overpass", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-root: 18px;
$font-size-h1: 2.3rem;

$headings-font-weight: 700;

// Core variables and mixins
@import "variables";
@import "mixins";

// Reset and dependencies
@import "normalize";
@import "print";

// Core CSS
@import "reboot";
@import "type";
@import "images";
// @import "code";
@import "grid";
// @import "tables";
// @import "forms";
// @import "buttons";

// Components
@import "animation";
// @import "dropdown";
// @import "button-group";
// @import "input-group";
// @import "custom-forms";
@import "nav";
@import "navbar";
// @import "card";
// @import "breadcrumb";
// @import "pagination";
// @import "pager";
// @import "labels";
// @import "jumbotron";
// @import "alert";
// @import "progress";
// @import "media";
// @import "list-group";
// @import "responsive-embed";
// @import "close";

// Components w/ JavaScript
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";

// Utility classes
@import "utilities";
// @import "utilities-background";
// @import "utilities-spacing";
@import "utilities-responsive";

@include media-breakpoint-down(lg) {
  h1 {
    font-size: 1.8rem;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .brand-icon-container {
    @include clearfix();
  }

  nav .navbar-nav .nav-item {
    float: none;
  }

  nav .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
}

.post-info {
  margin-bottom: 1rem;

  abbr[title] {
    border-bottom: 0;
    text-decoration: none;
  }

  p, address {
    margin: 0;
    padding: 0;
  }
}


.content {
  margin-top: 2rem;
}

.articles > *:not(:first-child) {
  margin-top: 60px;
}

.footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  background-color: #f7f7f7;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee
}
